h1 {
  margin: 16px;
  text-align: center;
}

.project {
  width: 32em;
  height: 20em;
  background-size: 100% 100%;
  border: 5px groove white;
}

.Container {
  margin: 1em;
}
.Container p {
  width: 28em;
}
@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 500px) {
  .project {
    width: 18em;
    height: 14em;
  }

  .Container p {
    width: 18em;
  }
}
