@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

.App {
  color: white;
  font-family: "Patrick Hand", cursive;
  background-image: url("/portfolio_background.jpg");
}

h1 {
  margin: 16px;
}
